<nav class="header">
    <div class="sub-nav">
        <div class="sub-nav-left">
            <h3>
                My Blogs
            </h3>
            <p  class="link">
                <a href="{% url 'index' %}">Home</a>
            </p>
            <p  class="link">
                <a href="{% url 'about_me' %}">About</a>
            </p>
        </div>
        <div class="sub-nav-right">
            <div class="nav-search">
                <input type="text" placeholder="Search" class="search-input">
                <div class="search-icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
        </div>
    </div>
</nav>